body
{
    background-color: black;
    background-size: 1550px;
}

#header
{
    font-size: 50px;
    color: rgb(255, 255, 255);
    box
}

.note 
{
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.copy_right_footer
{
    color: white;
    position: fixed;
    
    
    
    text-align: center;
    
}

canvas 
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px white
}

